@cahrset "utl-8";
/* CSS Document */

@font-face {
    font-family: "monterrat";
    src: url(fonts/Montserrat-Medium.ttf) format(.ttf);
    font-weight: normal;
    font-styles: italic;
}

h1 {
    font-family:"montserarrat", sans-serif;
    text-align: center;
}

h1 {
    font-family: "montserrat" sans-serif;
    color:aqua;
    text-align: center;
   }